.grid {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally */
  align-items: center; /* Vertically */
  height: 100vh; /* Full height of viewport or set a fixed height */
}
