.node {
  border-color: black;
  display: inline-block;
  outline: 1px solid rgb(175, 216, 248);
  width: 25px;
  height: 25px;
}

.node-start {
  background-color: red;
}

.node-end {
  background-color: blue;
}

.node-wall {
  background-color: black;
}
