.node {
  border-color: black;
  display: inline-block;
  border-style: solid;
  width: 30px;
  height: 30px;
}

.node-start {
  background-color: red;
}

.node-end {
  background-color: blue;
}

.node-wall {
  background-color: black;
}
